<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="borrador_front_proyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h2>mi correo es [[email]]</h2>
    <h2>mi id es [[id]]</h2>
    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Borrador_front_proyectoApp extends Polymer.Element {
      static get is() { return 'borrador_front_proyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          id:{
            type: Number
          }
        };
      }
      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        console.log(data.detail.response.users[0].first_name);
        this.first_name=data.detail.response.users[0].first_name;
        this.last_name=data.detail.response.users[0].last_name;
        this.email=data.detail.response.users[0].email;
      }
    }

    window.customElements.define(Borrador_front_proyectoApp.is, Borrador_front_proyectoApp);
  </script>
</dom-module>
