<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el receptor</h2>
    <h2>El curso es [[course]]</h2>
    <h2>El año es [[year]]</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course: {
            type: String
          }, year:{
            type: Number
          }

        };
      }

      sendEvent(e){
        console.log("Pulsado el boton");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "course":"TechU",
              "year":2019
            }
          )
        )
      }

    }//Cierre class

    window.customElements.define(ReceptorEvento.is,ReceptorEvento);
  </script>
</dom-module>
