<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el emisor</h2>
    <button on-click="sendEvent">No pulsar</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id:{
            type: Number
          }

        };
      }

      sendEvent(e){
        console.log("Pulsado el boton");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "course":"TechU",
              "year":2019
            }
          )
        )
      }

    }//Cierre class

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
