<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]]</h3>
    <input type="text" value="{{first_name::input}}"></input>
    <input type="range" min="18" value="{{age::input}}" max="70"></input>
    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">

    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id:{
            type: Number
          }

        };
      }

      showData(data){
        console.log(data.detail.response);
        console.log(data.detail.response.id);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);
        this.first_name = data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
      }

    }//Cierre class

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
