<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/emisor-evento/emisor-evento.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Yo soy tu padre</h2>
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {

        };
      }

      proccessEvent(e){
        console.log("Capturado Evento del emisor");
        console.log(e);
        console.log(e.detail);
      }

    }//Cierre class

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
