<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borrador_front_proyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Borrador_front_proyectoApp extends Polymer.Element {
      static get is() { return 'borrador_front_proyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'borrador_front_proyecto-app'
          }
        };
      }
    }

    window.customElements.define(Borrador_front_proyectoApp.is, Borrador_front_proyectoApp);
  </script>
</dom-module>
